name: Deploy to S3 (no subfolders)

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Upload ONLY website files to S3 ROOT
        run: |
          aws s3 sync . s3://cloudfront-static2 \
            --exclude "*" \
            --include "index.html" \
            --include "arad2.jpeg" \
            --include "aradya1.jpeg" \
            --include "nagutha-nagutha-baalu.mp3" \
            --acl public-read \
            --delete
